<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
    <h2>Contact Us</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
    <button type="submit">Send</button>
    </form>

    {% if form.errors %}
        <div style="color:red">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{field }}: {{errors|striptags}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>
