<body style = "font-family: sans-serif; background: #f4f4f4; color:#333; text-align: center; margin:0">
    <header style = "background: #4a90e2; color:#fff;"> Welcome to My Homepage </header>
    <main style = "max-width:800px; margin:20px auto; background-color:#fff">
    <p> Making text and layout look better with simple inline CSS </p>
    </main>
    </body>
    