<!DOCTYPE html>
<html>
<head>
    <title>Our Menu</title>
</head>
<body>
    <h1>Menu </h1>
    <div>
        {% for item in items %}
            <div style="margin-bottom:20px;">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}"width="200" height="150">
                {% endif %}
                <h2>{{ item.name }}</h2>
                <p>{{item.description }}</p>
                <p><strong>Price:</strong>${{ item.price }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>